.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: red; */
    padding: 10px;
}
button { 
    border: none;
    padding: 10px;
    border-radius: 20px;
    border-color: #3a5a40;
    margin: 5px;
    background-color: #3a5a40;
    color: white;
}
input {
    padding: 10px;
    border-radius: 20px;
    border-width: 1px;
    margin: 5px;
    background-color: #dad7cd;
}