*{
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10vh 10vw; 
    height: 100vh;
    background-color: #a3b18a;
}

.App > *{
    min-width: 35vw;
    max-width: 300px;
}